/* Add this CSS to hide the x-axis scrollbar */
body {
  overflow-x: hidden;
}


.custom-navbar {
    background-color: #333;
    padding: 10px 0;
  }

  .custom-navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 10px;
    display: flex;
    justify-content: center;
  }

  .custom-navbar li {
    margin-right: 20px;
  }

  .custom-navbar a {
    text-decoration: none;
    color: #fff;
  }

  .custom-navbar a:hover {
    color: #f8f9fa;
  }
  
  .project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }

  .project {
    width: 300px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
